
service: expense-management-system

frameworkVersion: '2'

provider:
  name: aws
  runtime: nodejs12.x

  stage: dev
  region: us-west-1


functions:
  api:
#    Cors:
#      AllowMethods: '*'
#      AllowHeaders: '*'
#      AllowOrigin: '*'
    package:
      include:
        - "endpoints.json"
        - "api/*.js"
        - "api/**/*.js"
        - "api/*.json"
        - "api/**/*.json"
    handler: api/router.handler
    events:
      - http:
          path: ping
          method: get
#          response:
#            "Access-Control-Allow-Origin": "*"
          cors:
            origin: "*"
            header: '*'
      - http:
          path: auth
          method: post
#          response:
#              "Access-Control-Allow-Origin": "*"
          cors:
            origins: ["*"]
            headers: ['*']
      - http:
          path: auth/{userid}
          method: delete
#          response:
#            "Access-Control-Allow-Origin": "*"
          cors:
            origin: "*"
            header: '*'
      - http:
          path: user/{userid}
          method: get
          cors:
            origin: "*"
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
              - Access-Control-Allow-Origin
              - authorizationToken

      - http:
          path: user
          method: post
#          response:
#            "Access-Control-Allow-Origin": "*"
          cors:
            origin: "*"
            header: '*'

      - http:
          path: user
          method: put
#          response:
#            "Access-Control-Allow-Origin": "*"
          cors:
            origin: "*"
            header: '*'
      - http:
          path: user/{userid}
          method: put
#          response:
#            "Access-Control-Allow-Origin": "*"
          cors:
            origin: "*"
            header: '*'
      - http:
          path: user/{userid}
          method: delete
#          response:
#            "Access-Control-Allow-Origin": "*"
          cors:
            origin: "*"
            header: '*'

      - http:
          path: expense/{userid}/{id}
          method: get
#          response:
#            "Access-Control-Allow-Origin": "*"
          cors:
            origin: "*"
            header: '*'
      - http:
          path: expense
          method: post
#          response:
#            "Access-Control-Allow-Origin": "*"
          cors:
            origin: "*"
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
              - Access-Control-Allow-Origin
              - authorizationToken
      - http:
          path: expense/{userid}/{id}
          method: put
#          response:
#            "Access-Control-Allow-Origin": "*"
          cors:
            origin: "*"
            header: '*'
      - http:
          path: expense/{userid}/{id}
          method: delete
#          response:
#            "Access-Control-Allow-Origin": "*"
          cors:
            origin: "*"
            header: '*'

plugins:
  - serverless-offline